# #GENERAL WORK FODDER
**/.vs/
*.code-workspace
jsconfig.json
.DS_Store

# #STUDENT WORK
**/abrahamSegura/
**/anelleSantana/
**/brittanyAcceturo/
**/cheloyGonzalez/
**/christopherFelix/
**/christopherTa/
**/davidCummiskey/
**/farrahLam/
**/jacobVerduzco/
**/jorgeMRocha/
**/juneKwon/
**/leksiaTorres/
**/milagrosPerez/
**/mollyBolt/
**/nayelliZechman/
**/rebeccaTang/
**/sharonCho/
**/tinaHu/
**/vickyShan/
**/zenaXayalath/

# #IMAGE and IMAGE WORK FILES
# #SVGs and ICOs are whitelisted due to their consistently light size.
*.psd
*.png
*.jpg
*.gif