/*
#FONT IMPORTS:
	- PT Sans. Reg 400, Bold 700 all w/ Italic variants.
	- Roboto Mono. Light 300, Regular 400, Bold 700 all w/ Italic variants.
*/
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Mono:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
	/*
	#  VARIABLE DEFINING
	## COLORS
	Colors as of OCT 16 2022:
	printBlue: ........ #00AEEF.    0, 174, 239. 
	printBlack: ....... #231F20.   35,  31,  32.
	printGray: ........ #58595B.   88,  89,  91.
	secondaryAccent ... #FFD700.  255, 215,   0.  CSS gold.
	tertiaryAccent .... #FF1493.  255,  20, 147.  CSS deepPink.
	*/
	--printBlue:           #00aeef;
	--printBlue_downshift: #0d6f93;
	--printBlack:          #231F20;
	--printGray:           #58595b;
	--backing:             #FFFFFF;
	--secondaryAccent:     #FFD700;
	--tertiaryAccent:      #FF1493;

	
	box-sizing: border-box;
	
}
html, body {
	height: 100%;
	margin: 0;

	color: var(--printBlack);
	font-family: 'PT Sans', sans-serif;
}


/* #SITE SECTION ASSETS */
h1 {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin: 0;
	padding-top: 2rem;
}
h1 .titleWrap {
	padding-left: 2rem;
	padding-right: 0.5rem;

	color: var(--backing);
	background-color: #00aeef;
}
h1 .title {
	display: none;
}
.headImgWrap {
	padding-right: 2rem;

	line-height: 0;
	background-color: var(--printBlue);
}
.headerImg {
	width: 2in;
	padding-right: 16%;
}

main {
	padding: 4rem 2rem;
}


#showcaseGallery {
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-flow: dense;
	gap: 1rem;

	list-style: none;
	padding: 0;
}
#showcaseGallery li {
	display: block;
	position: relative;
	left: 0; right: 0;
	padding-bottom: 100%;
}
#showcaseGallery a {
	display: block;
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	background-color: rgba(0, 174, 239, 0.5);
}
.buttonText {
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
}
.newHighlight, .nameLabel {
	position: relative;
	padding: 1rem;

	font-size: large;
}
.newHighlight {
	color: var(--printBlack);
	background-color: var(--secondaryAccent);
	
	font-weight: bold;
}
.nameLabel {
	position: absolute;
	bottom: 0; left: 0; right: 0;
	color: var(--backing);
	background-color: var(--printBlue);
}
.showcaseButton img {
	width: 100%;
}


article section {
	margin: 3.66rem 0;
}


/* FAQ question prompt */
#faq li blockquote:first-child {
	margin-left: calc(0.5rem - 1px);
	border-left: 2px solid var(--printBlue_downshift);
	padding-left: calc(0.5rem - 1px);

	color: var(--printBlue_downshift);
	font-style: italic;
}
#faq > ol {padding-left: 1rem;}
#faq ol ::marker {
	color: var(--printBlue_downshift);
	font-weight: bold;
}

footer {
	padding: 1rem;
	background-color: var(--printBlue);

	color: var(--backing);
	font-size: small;
}
footer > * {
	margin-left: auto;
	margin-right: auto;
}
.footerThumbs {
	display: flex;
	justify-content: center;
}
.footerThumbs img {
	width: 4rem;
}
footer a {
	margin: 0 0.5rem;
	color: var(--backing);
}
footer a.roundel {cursor: pointer;}
.footerThumbs a:first-child {margin-left: 0;}
.footerThumbs a:last-child {margin-right: 0;}

.hidden {display: none !important;}


/* #GENERAL TEXT ASSETS */
h1, h2, h3, h4, h5, h6 {color: var(--printBlue_downshift);}
code {
	font-family: 'Roboto Mono', monospace;
	font-size: small;
}


/* #MEDIA QUERIES */
@media only screen and (min-width: 6in) {
	h1 .titleWrap {
		padding-left: 4rem;
	}
	.headImgWrap {
		padding-right: 4rem;
	}
	.headerImg {width: 3in;}


	main {
		padding: 4rem;
	}
	#showcaseGallery {grid-template-columns: 1fr 1fr;}
}


@media only screen and (min-width: 9in) {
	h1 .title {display: inline-block;}
	#showcaseGallery {grid-template-columns: 1fr 1fr 1fr;}
}


@media only screen and (min-width: 12in) {
	h1 .titleWrap {
		padding-left: calc(1/6 * 100%);
	}
	.headImgWrap {
		padding-right: calc(1/6 * 100%);
	}
	main {
		margin: auto;
		max-width: 66%;
		padding: 4rem 0;
	}
	footer > * {
		max-width: 66%;
	}	
}
@media only screen and (min-width: 16in) {
	#showcaseGallery {grid-template-columns: 1fr 1fr 1fr 1fr;}
}